# ======================================================================
# CONFIGURACIÓN GENERAL DEL MICROSERVICIO
# ======================================================================
ENVIRONMENT=local
PROJECT_NAME="MS-integracion-smartsupervision"
API_V1_STR="/api/v1"

# ======================================================================
# ☁️ CONFIGURACIÓN DE AWS S3
# ======================================================================
AWS_S3_BUCKET=mi-bucket-smartsupervision
AWS_ACCESS_KEY_ID=tu_aws_key_local_o_test
AWS_SECRET_ACCESS_KEY=tu_aws_secret_local_o_test

# ======================================================================
# 🇨🇴 CONSTANTES DE ENTIDAD PARA GLOBAL66 (SFC)
# ======================================================================
SFC_TIPO_ENTIDAD=1
SFC_ENTIDAD_COD=423

# ======================================================================
# 🛡️ INTEGRACIÓN CON SMART SUPERVISIÓN (SFC)
# ======================================================================
SFC_URL_BASE=http://127.0.0.1:8080/

# Credenciales y Secret Key suministrados por la SFC (o valores de test para el Mock)
SFC_USERNAME=admin
SFC_PASSWORD=123456789
SFC_SECRET_KEY=global66_sfc_secret_key_testing_2026

# Control de verificación criptográfica (Útil para desactivar firmas en dev local)
SFC_VERIFY_SIGNATURES=true