# ======================================================================
# CONFIGURACIÓN GENERAL DEL MICROSERVICIO
# ======================================================================
ENVIRONMENT=local
PROJECT_NAME="MS-integracion-smartsupervision"
API_V1_STR="/api/v1"

# ======================================================================
# ☁️ CONFIGURACIÓN DE AWS S3
# ======================================================================
AWS_S3_BUCKET=mi-bucket-smartsupervision
AWS_ACCESS_KEY_ID="minioadmin"
AWS_SECRET_ACCESS_KEY="minioadmin"
AWS_ENDPOINT_URL="http://minio:9000"

# ======================================================================
# 🇨🇴 CONSTANTES DE ENTIDAD PARA GLOBAL66 (SFC)
# ======================================================================
SFC_TIPO_ENTIDAD=128
SFC_ENTIDAD_COD=6

# ======================================================================
# 🛡️ INTEGRACIÓN CON SMART SUPERVISIÓN (SFC)
# ======================================================================
SFC_URL_BASE=http://127.0.0.1:8080/

# Credenciales y Secret Key suministrados por la SFC (o valores de test para el Mock)
SFC_USERNAME=admin
SFC_PASSWORD=123456789
SFC_SECRET_KEY=global66_sfc_secret_key_testing_2026

# Control de verificación criptográfica (Útil para desactivar firmas en dev local)
SFC_VERIFY_SIGNATURES=true

CRM_API_KEY="g66_sk_test_super_secreto_12345"
# Asegúrate de usar comillas dobles dentro del arreglo (formato JSON válido)
CRM_CORS_ORIGINS='["https://tucrm.global66.com", "http://localhost:8000", "http://localhost:3000"]'

QUEUE_RETRY_INTERVAL_MINUTES = 1

# -- Configuración de SMTP para alerta por correo -- #
SMTP_USER = "tucorreo@global66.com"
SMTP_PASSWORD = "xxxx xxxx xxxx xxxx"

ALERT_NOTIFY_EMAILS = ["tucorreo@global66.com", "tucorreo@global66.com"]
ALERT_EMAILS_ENABLED = false

# -- Enlace del sheet con la matriz de errores
GOOGLE_CLIENT_ID="id_cliente"
GOOGLE_CLIENT_SECRET="secret_cliente"
GOOGLE_REFRESH_TOKEN="refresh_token"
GOOGLE_SPREADSHEET_ID="id_hoja"
GOOGLE_SHEET_RANGE="Hoja 1!A:C"  # Nombre de la pestaña y columnas